<ion-header>
  <ion-navbar color='primary'>
    <ion-title>
      SAP Smart Voice
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!-- Text to Speech -->
  <div class="list list-inset">
    <label class="item item-input">
      <ion-icon name="heart"></ion-icon>
      <input type="text" placeholder="Input text..." ng-model="data.speechText">
    </label>
  </div>
  <button ion-button color="primary" outline block ng-click="speakText()">
    <ion-icon name="ios-megaphone"></ion-icon>
    &nbsp;Text to Speech
  </button>
  <!-- Speech to Text -->
  <button ion-button color="primary" outline block ng-click="record()">
    <ion-icon name="ios-mic"></ion-icon>
    &nbsp; Speech to Text
  </button>
  <div class="card">
    <div class="item item-text-wrap">
      <i class="icon ion-ios-recording placeholder-icon"></i>
      {{recognizedText}}
    </div>
  </div>
  <!-- Baidu Search -->
  <div class="list">
    <a class="item" href="#" ng-click="open_win()">
        Open a Browser Searching {{recognizedText}}
    </a>
  </div>
</ion-content>
