<ion-header>
  <ion-navbar color='primary'>
    <ion-title>
      SAP Smart Voice
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!-- Text to Speech -->
  <ion-list inset>
    <ion-item>
      <ion-label><ion-icon name="ios-megaphone"></ion-icon></ion-label>
      <ion-input type="text" placeholder="Input text..." [(ngModel)]="text" fixed></ion-input>
    </ion-item>
  </ion-list>
  <button ion-button color="primary" outline block (click)="sayText()">
    <ion-icon name="ios-megaphone"></ion-icon>
    &nbsp;Text to Speech
  </button>
  <br>
  <!-- Speech to Text -->
  <button ion-button color="primary" outline block (click)="SpeechToText()">
    <ion-icon [name]="myIcon"></ion-icon>
    &nbsp; Speech to Text
  </button>
  <br>
  <ion-card>
    <ion-list>
      <button ion-item>
        <ion-icon name="ios-recording" item-left></ion-icon>
        {{recognizedText}}
      </button>
    </ion-list>
  </ion-card>
  <!-- Baidu Search -->
  <ion-list inset>
    <a class="item" href="#" (click)="open_win()">
        Open a Browser Searching {{recognizedText}}
    </a>
  </ion-list>
</ion-content>



<!-- <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link rel="manifest" href="manifest.json">


    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">


    <script src="lib/ionic/js/ionic.bundle.js"></script>


    <script src="cordova.js"></script>

    <script src="js/app.js"></script>
  </head>
  <body ng-app="starter">
    <ion-pane ng-controller="AppCtrl">
      <ion-header-bar class="bar-positive">
        <h1 class="title">SAP Smart Voice</h1>
      </ion-header-bar>
      <ion-content class="padding">

        <div class="list list-inset">
          <label class="item item-input">
            <i class="icon ion-speakerphone placeholder-icon"></i>
            <input type="text" placeholder="Input text..." ng-model="data.speechText">
          </label>
        </div>
        <button class="button button-full button-positive" ng-click="speakText()">
          <i class="icon ion-speakerphone placeholder-icon"></i>
          Text to Speech
        </button>

        <button class="button button-full button-positive" ng-click="record()">
          <i class="icon ion-ios-mic placeholder-icon"></i>
          Speech to Text
        </button>
        <div class="card">
          <div class="item item-text-wrap">
            <i class="icon ion-ios-recording placeholder-icon"></i>
            {{recognizedText}}
          </div>
        </div>

        <div class="list">
          <a class="item" href="#" ng-click="open_win()">
              Open a Browser Searching {{recognizedText}}
          </a>
        </div>
      </ion-content>
    </ion-pane>
  </body>
</html> -->
